@font-face {
    font-family: Jaro;
    src: url(../fonts/Jaro-Regular.woff2) format("woff2");
    font-weight: 400;

}

@font-face {
    font-family: RobotoMono;
    src: url(../fonts/RobotoMono-Regular.woff2) format("woff2");
    font-weight: 400;
}

:root {
  --global-padding: min(150px, 8vw);
  --block-color: #565963;
  /* --block-color: #565963; */

  --background-color:#EED5F5;
  --header-color: #807B8B;
  --link-color: #FF6C47;
  --block-between-margin: 18px;
}

body {
    font-family: RobotoMono;
    font-size: min(20px, 3.25vw);
    text-shadow: 
    -0.25px -0.25px 0 black,
    0.25px -0.25px 0 black,
    -0.25px 0.25px 0 black,
    0.25px 0.25px 0 black;
    
    /* padding-inline: min(80px, 6vw); */
    background-color: #EED5F5;
}


.title {
  display: block; 
  margin-left: 15px;
}

header {
  width: 100%;
    height: 50px;
    box-sizing: border-box;  /* Включаем padding в ширину */
    display: flex;
    align-items: center;
    /* display: flex;
    align-items: center;
    justify-content: space-between; */
    background-color: #807B8B;
    border-bottom: 4px solid var(--link-color);
    padding-inline: var(--global-padding);
}

.underline {
  height: 4px;
  width: 100%;
  background-color: var(--link-color);
}


.container {
  width: 100%;
  box-sizing: border-box; 
  max-width: 1200px; 
  margin-inline: auto;
}

.header-container {
  display: flex;
    align-items: center;
    justify-content: space-between;
}


.logo {
    font-family:  "Jaro";
    font-size: min(30px, 5vw);

}

a {
    text-decoration: none;
    text-underline-offset: 5px; /* Смещаем подчеркивание ниже */
    color: black;
}

a.logo:hover {
    text-decoration: none; /* Подчеркивание при наведении */
}

a:hover {
    text-decoration: underline; /* Подчеркивание при наведении */
}

.header-auth-list {
    display: flex;
    column-gap: min(20px, 2.5vw);
  }
  
.search-container {
  margin-left: auto;
  margin-right: 35px;
    display: flex;
    align-items: center;
}

.header-search-button {
  background-image: url("../images/search_button.png");
  background-size: cover; /* Масштабирование */
  display: block; /* Делаем элемент видимым */


  width: 36px;
  height: 36px;
  }
  
  /* .header-search-button:hover {
    background-color: black;
    color: #EED5F5; 
  } */

  .header-auth-button {
    align-items: center;
  }

  .auth-button-icon {
    background-image: url("../images/avatar256.png");
    background-size: cover; /* Масштабирование */
    /* filter: grayscale(100%); */
    margin-right: 10px; /* Отступ между иконкой и текстом */

    width: 39px;
    height: 39px;
  }


  /* .header-auth-link {
    display: inline-flex;
    align-items: center;
    height: 70px;
    letter-spacing: 1.2;
  } */

@media(max-width: 470px) {
  header {
    flex-wrap: wrap;
  }

  .header-auth-list {
    display: none;
  }  
}