main {
  /* margin-top: 90px; */
  padding-inline: var(--global-padding);
  flex-wrap: wrap;
  display: flex;
  /* align-items: center; */
  justify-content: space-between;
}

.preview-container {
  margin-top: 75px;
  margin-left: 140px;
}

.preview {
  border-radius: 15px;
  margin-top: 15px;
  background-size: cover;
  height: 400px;
  width:  700px;
  background-color: #565963;
  background-image: url("../images/monolog.png");
  background-repeat: no-repeat;
}

.sidebar {
  margin-top: 10px;
  border-radius: 12px;
  /* flex-basis: 17.5%; */
  height: 850px;
  width:  250px;
  color: #D9D9D9;
  letter-spacing: 1.2;

  text-shadow: 
  -0.25px -0.25px 0 #D9D9D9,
  0.25px -0.25px 0 #D9D9D9,
  -0.25px 0.25px 0 #D9D9D9,
  0.25px 0.25px 0 #D9D9D9;
  background-color: #9B91A5;

}

.popular_title {
  text-align: center;
}

.news-title {
  text-align: center;
}
   

@media(max-width: 1300px) {
  .sidebar {
    margin-top: 30px;
    flex-basis: 700px;
    margin-inline: auto;
  }

  .preview-container {
    margin: auto;
  }
}
