.video-player {
    /* overflow: hidden;  */
    width: 1050px;
    height: 600px;
}


.video-container {
    margin-top: 30px;
}

body {
    background-color: var(--block-color);
}

.option-list {
    color: white;
}