<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <!-- <link href="https://fonts.googleapis.com/css2?family=Jaro&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@400&display=swap" rel="stylesheet"> -->

    <link href="../css/default.css" rel="stylesheet" />
    <link href="../css/header.css" rel="stylesheet" />
    <link href="../css/video.css" rel="stylesheet" />
</head>
<body>
    <header>
        <div class="header-container container">
            <div class="logo-container">
                <a class="logo" href="../index.html">AniWorld</a>
            </div>
            <div class="search-container">
                <input type="text" class="search-input" placeholder="Поиск...">
                <button class="header-search-button"></button>
            </div>

            <a class="header-auth-button">
                <button class="auth-button-icon"></button>
                <p class="auth-button-text">Войти</p>
            </a>
        </div>
    </header>
    <main>
        <div class="description-container container">
            <!-- В Js добавить динамическую ссылку при загрузке страницы -->
            <img class="poster-img" src="../images/monolog-poster.jpg" alt="">
            <div class="description">
                <!-- Сделать списком из 2 элементов: названия поля и его значения -->
                <p class="container-title-text" id="title">Монолог Фармацевта 2</p>

                 <ul class="description-list">
                    <li class="description-elem"> 
                        <p class="info-label elem-text-medium" id="studio-title">Студия</p>
                        <p class="info-arg  elem-text-small">2x2</p>
                     </li>
                     <li class="description-elem">
                        <p class="info-label elem-text-medium" id="year-title">Год выпуска</p>
                        <p class="info-arg  elem-text-small">2025</p>

                     </li>
                     <li class="description-elem">
                        <p class="info-label elem-text-medium" id="genres-title">Жанры</p>
                        <p class="info-arg elem-text-small">Детектив, Историческое, Романтика</p>

                     </li>
                     <li  class="description-elem">
                        <p class="info-label elem-text-medium" id="desctiption-title">Описание</p>
                        <p class="info-arg elem-text-small">Имба</p>
                     </li>
              
                </ul>
            </div>
        </div>

        <div class="video-container container">
            <div class="list-container">
            <!-- <label for="season" class="option-list">Сезон</label> -->
                <select  id="season">
                    <option>Сезон</option>

                </select>
                <select id="episode">
                    <option>Серия</option>
                </select>
            <!-- <label for="episode"  class="option-list">Серия</label> -->
            </div>  
            <video class="video-player" src="https://r400201.yandexwebcache.org/steins-gate/1/2.720.50c04d15b9b841fb.mp4?hash1=69ec9b8ca7c4c97c48fc74b68f315c14&hash2=ae4a6d86c09cf89e803394698d4c518c" controls>
            </video>
        </div>
        <div class="comments-container container">
            <p class="comments-container-title container-title-text">Комментарии</p>
            <textarea class="input-comment elem-text-small"></textarea>
            <button class="comment-button elem-text-medium">Написать комментарий</button>
            <ul class="comments-list-container">
                <li>
                    <div class="comment">
                        <div class="user-avatar">

                        </div>
                        <div class="text-comment-container">
                            <p class="elem-text-medium">Гигачад</p>
                            <p class="comment-text elem-text-extrasmall">МаоМао легенда!!! Крашиха!</p>
                        </div>
                    </div>
                </li>
                <li>
                    <div class="comment">
                        <div class="user-avatar">

                        </div>
                        <div class="text-comment-container">
                            <p class="elem-text-medium">ТраВоМаН</p>
                            <p class="comment-text elem-text-extrasmall">Мои стримы лучше</p>
                        </div>
                    </div>
                </li>
                <li>
                    <div class="comment">
                        <div class="user-avatar">

                        </div>
                        <div class="text-comment-container">
                            <p class="elem-text-medium">Мисаки-чан</p>
                            <p class="comment-text elem-text-extrasmall">
                                Lorem ipsum dolor sit amet consectetur adipiscing elit. Quisque faucibus ex sapien vitae pellentesque sem placerat. In id cursus mi pretium tellus duis convallis. Tempus leo eu aenean sed diam urna tempor. Pulvinar vivamus fringilla lacus nec metus bibendum egestas. Iaculis massa nisl malesuada lacinia integer nunc posuere. Ut hendrerit semper vel class aptent taciti sociosqu. Ad litora torquent per conubia nostra inceptos himenaeos.                                   Lorem ipsum dolor sit amet consectetur adipiscing elit. Quisque faucibus ex sapien vitae pellentesque sem placerat. In id cursus mi pretium tellus duis convallis. Tempus leo eu aenean sed diam urna tempor. Pulvinar vivamus fringilla lacus nec metus bibendum egestas. Iaculis massa nisl malesuada lacinia integer nunc posuere. Ut hendrerit semper vel class aptent taciti sociosqu. Ad litora torquent per conubia nostra inceptos himenaeos
                            </p>
                        </div>
                    </div>
                </li>
            </ul>
        </div>
    </main>
    <!-- <footer>
        <span class="contacts">https://github.com/VimatoSan</span>
    </footer> -->
    <script src="../js/header.js"></script>

    <script src="../js/video.js"></script>

</body>
</html>