<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <!-- <link href="https://fonts.googleapis.com/css2?family=Jaro&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@400&display=swap" rel="stylesheet"> -->
    <link href="~/css/default.css" rel="stylesheet" />
    <link href="~/css/header.css" rel="stylesheet" />

    <link href="~/css/new_main.css" rel="stylesheet" />
</head>
<body>
    <header>
        <div class="header-container container">
            <div class="logo-container">
                <a class="logo" href="~/index.html">AniWorld</a>
            </div>
            <div class="search-container">
                <input type="text" class="search-input" placeholder="Поиск...">
                <button class="header-search-button"></button>
            </div>

            <a class="header-auth-button">
                <button class="auth-button-icon"></button>
                <p class="auth-button-text">Войти</p>
            </a>
        </div>
    </header>
    <main>
        <!-- Число элементов и их размеры должны меняться от размера  -->
        <div class="poster-slider-container container">
            <p class="poster-slider-title">Рекомендованное</p>
            <!-- Сделать Poster-list grid-контейнером у которого число элементов в строке будет менятся отширины страницы, но не менее 2  -->

            <ul class="poster-list">
                <li class="poster-elem" id="poster-1">
                    <a href="~/html/video.html">
                        <img class="poster-img" src="~/images/monolog-poster.jpg" alt="">
                        <p class="anime-link">Монолог Фармацевта</p>
                    </a>
                </li>
                <li class="poster-elem" id="poster-1">
                    <a href="~/html/video.html">
                        <img class="poster-img" src="~/images/hanako.jpg" alt="">
                        <p class="anime-link">Туалетный мальчик Ханако</p>
                    </a>
                </li>
                <li class="poster-elem" id="poster-1">
                    <a href="~/html/video.html">
                        <img class="poster-img" src="~/images/sololeveling.jpg" alt="">
                        <p class="anime-link">Поднятие уровня в одиночку</p>
                    </a>
                </li>
                <li class="poster-elem" id="poster-1">
                    <a href="~/html/video.html">
                        <img class="poster-img" src="~/images/dr_stone.jpg" alt="">
                        <p class="anime-link">Доктор Стоун</p>
                    </a>
                </li>
                <li class="poster-elem" id="poster-1">
                    <a href="~/html/video.html">
                        <img class="poster-img" src="~/images/monogatari.jpg" alt="">
                        <p class="anime-link">Цикл историй</p>
                    </a>
                </li>
                <li class="poster-elem" id="poster-1">
                    <a href="~/html/video.html">
                        <img class="poster-img" src="~/images/lazarus.jpg" alt="">
                        <p class="anime-link">Лазарь</p>
                    </a>
                </li>
        
            </ul>
        </div>
        <div class="actual-container container" > <!-- grid сетка -->
            <p class="poster-slider-title">Смотрят сейчас</p>
            <div class="actual-grid-container">
                <a class="anime-elem" href="~/html/video.html">
                    <img class="small-img" src="~/images/april.jpg" alt="">
                    <div class="description-container">
                        <p class="description">Твоя апрельская ложь</p>
                        <div class="type">
                            <p class="format type-text">TV-сериал</p>
                            <p class="serias type-text">24 серий</p>
                        </div>

                    </div> 
                </a>
                <a class="anime-elem" href="~/html/video.html">
                    <img class="small-img" src="~/images/sakomoto.jpg" alt="">
                    <div class="description-container">
                        <p class="description">Дни Сакамото</p>
                        <div class="type">
                            <p class="format type-text">TV-сериал</p>
                            <p class="serias type-text">12 серий</p>
                        </div>

                    </div> 
                </a>
                <a class="anime-elem" href="~/html/video.html">
                    <img class="small-img" src="~/images/small.jpg" alt="">
                    <div class="description-container">
                        <p class="description">Маленький гражданин 2</p>
                        <div class="type">
                            <p class="format type-text">TV-сериал</p>
                            <p class="serias type-text">12 серий</p>
                        </div>

                    </div> 
                </a>
                <a class="anime-elem" href="~/html/video.html">
                    <img class="small-img" src="~/images/hana.jpg" alt="">
                    <div class="description-container">
                        <p class="description">Хана расцветает подобно Сюре</p>
                        <div class="type">
                            <p class="format type-text">TV-сериал</p>
                            <p class="serias type-text">12 серий</p>
                        </div>

                    </div> 
                </a>
                <a class="anime-elem" href="~/html/video.html">
                    <img class="small-img" src="~/images/konosuba.jpg" alt="">

                    <div class="description-container">
                        <p class="description">Богиня благославляет этот чудесный мир</p>
                        <div class="type">
                            <p class="format type-text">TV-сериал</p>
                            <p class="serias type-text">12 серий</p>
                        </div>

                    </div> 
                </a>
                <a class="anime-elem" href="~/html/video.html">
                    <img class="small-img" src="~/images/another.jpg" alt="">
                    <div class="description-container">
                        <p class="description">Иная</p>
                        <div class="type">
                            <p class="format type-text">TV-сериал</p>
                            <p class="serias type-text">12 серий</p>
                        </div>

                    </div> 
                </a>
                <a class="anime-elem" href="~/html/video.html">
                    <img class="small-img" src="~/images/nhk.jpg" alt="">
                    <div class="description-container">
                        <p class="description">Добро пожаловать в NHK</p>
                        <div class="type">
                            <p class="format type-text">TV-сериал</p>
                            <p class="serias type-text">12 серий</p>
                        </div>

                    </div> 
                </a>
                <a class="anime-elem" href="~/html/video.html">
                    <img class="small-img" src="~/images/rezero.jpg" alt="">
                    <div class="description-container">
                        <p class="description">Re:Zero. Жизнь с нуля в альтернативном мире 3</p>
                        <div class="type">
                            <p class="format type-text">TV-сериал</p>
                            <p class="serias type-text">12 серий</p>
                        </div>

                    </div> 
                </a>
            </div>
        </div>
            <!-- <a href="/html/video.html">
                <img src="" alt="">
                <p>"Название"</p>
                <p class="big-poster-desription">"Описание"</p>
            </a> -->
        <div class="other-anime-container container">
            <ul class="big-anime-list">
                <li class="big-animelist-elem">
                    <a href="~/html/video.html">
                        <div class="list-elem-container">
                            <img class="list-poster" src="~/images/vinland.jpg" alt="">
                            <div class="anime-description-container">
                                <p class="anime-link list-title">Сага о Винланде</p>
                                <p class="translated-name">Vinland saga</p>
                            </div>

                        </div>
                    </a>
                </li>
            </ul> 
            <div class = "ongoings">
                <p class="ongoing-title">Онгоинги</p>
                <ul class="onoing_list">
                </ul> 
            </div>
            <!-- <ul class="poster_list">
                <li class="poster-elem">
                    <a href="/html/video.html">
                        <img src="" alt="">
                        <p>"Название"</p>
                        <p class="big-poster-desription">"Описание"</p>
                    </a>
                </li>
            </ul> -->
            <!-- <ul class="onoing_list">
                <li class="ongoing-elem">
                    <a href="/html/video.html">
                        <img src="" alt="">
                        <p>"Название"</p>
                        <p class="small-poster-desription">"Описание"</p>
                    </a>
                </li>
            </ul> -->
        </div>


    </main>
    <!-- <footer>
        <span class="contacts">https://github.com/VimatoSan</span>
    </footer> -->
    <script src="~/js/script.js"></script>

</body>
</html>